.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
  }
  
  .close-btn {
    background-color: #ff5733;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .close-btn:hover {
    background-color: #c93f28;
  }

  .new-game-btn{
    background-color: #4caf50;
    color: #fff;
  }
  
  .btns-div{
    display: flex;
    justify-content: center;
    gap: 5px;
  }