.main_1{
    display: flex;
    justify-content: center;
}
.img_1_Container{
    display: flex;
}

.img_1{
    width: 550px;
    padding: 70px;
    display: inline-block;
}

.heading_1{   
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.para_1_Container{
    height: 300px;
    width: 500px;
    margin-top: 100px;
    /* border: 2px solid black; */
}

.para_1{
    font-weight: bold;
    padding: 15px 0px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.footer{
    background-color: #00aaff;
    height: 80px;
    width: 100%;
    text-align: center;
}

.credits{
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    position: relative;
    top: 50px;
    right: 125px;
}

.footer_Links{
    text-decoration: underline;
    font-family: serif;
    padding: 5px;
    position: relative;
    left: 160px;
    top: 20px;
}

